
<div class="div">
      

      <div>הכנס שם</div>
      <br>
      <input [(ngModel)] = "name" minlength="1" required="true"/>
      <br>
      <div>הכנס סיסמא</div>
      <br>
      <input [(ngModel)]= "password" maxlength="10" required="true"/>
      <br>
      <div>הכנס תעודת זהות</div>
      <br>
      <input [(ngModel)] = "id" minlength="9" [required]="true"/>
      <br>
      <div>הכנס מספר טלפון</div>
      <br>
      <input [(ngModel)]= "phone" maxlength="7"/>
      <br><br>
      <button (click)="connect()" class="button">להרשמה</button>

</div>

